<div id="input-container">
  {{if eq .type "boolean"}}
  <pf-v6-switch id="input">
    {{renderElementShadowRoot "pf-v6-switch" dict}}
    {{.name}}
  </pf-v6-switch>
  {{else if eq .type "string"}}
  <pf-v6-text-input id="input"
                   type="text"
                   value="{{.value}}"
                   placeholder="{{.name}}">
    {{renderElementShadowRoot "pf-v6-text-input" dict}}
  </pf-v6-text-input>
  {{else if eq .type "number"}}
  <pf-v6-text-input id="input"
                   type="number"
                   value="{{.value}}"
                   placeholder="{{.name}}">
    {{renderElementShadowRoot "pf-v6-text-input" dict}}
  </pf-v6-text-input>
  {{else if eq .type "enum"}}
  <pf-v6-select id="input"
               value="{{.value}}"
               options="{{.enumValues}}">
    {{renderElementShadowRoot "pf-v6-select" dict}}
  </pf-v6-select>
  {{end}}
</div>
<div id="knob-description">
  <slot name="description"></slot>
</div>
