<pfv6-button id="toggle"
             variant="plain"
             aria-label="Toggle navigation"
             aria-expanded="false"
             aria-controls="drawer">
  {{renderElementShadowRoot "pfv6-button" dict}}
  <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</pfv6-button>
<aside id="drawer"
       class="nav-drawer"
       aria-label="Component navigation"
       aria-hidden="true">
  <div class="nav-drawer-header">
    <pfv6-button id="close"
                 variant="plain"
                 aria-label="Close navigation">
      {{renderElementShadowRoot "pfv6-button" dict}}
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </pfv6-button>
    <h2>Components</h2>
  </div>
  <div class="nav-drawer-content">
    <slot></slot>
  </div>
</aside>
<div id="overlay"
     class="nav-drawer-overlay"
     aria-hidden="true"></div>
