cem
__debug*
*.out
cover.*.out
coverage.html
*.test
dist
docs/resources

platforms/**/package.json

.hugo_build.lock
docs/data/benchmarks.json
docs/data/lastBenchmark.json
docs/assets/*-last-output.md
docs/node_modules
docs/*-result.json
docs/*-bench.txt
docs/*-stdout.txt
docs/custom-elements.json
docs/public
docs/static/*-last-output.md
docs/**/custom-elements.json
