.DS_store
cem
__debug*
*.out
*.log
cover.*.out
coverage.html
coverage
coverage.e2e
*.test
dist
docs/resources
.claude/*.local.json
node_modules
!**/testdata/**/node_modules

platforms/**/package.json
temp-binaries
extensions/vscode/out/
*.vsix

.hugo_build.lock
docs/data/benchmarks.json
docs/data/lastBenchmark.json
docs/assets/*-last-output.*
docs/node_modules
docs/*-result.json
docs/*-bench.txt
docs/*-stdout.txt
docs/custom-elements.json
docs/public
docs/static/*-last-output.*
docs/**/custom-elements.json

lsp/benchmark/results
