<div id="input-container">
  {{if eq .Attributes.type "boolean"}}
  <pf-v6-switch id="input">
    {{.Attributes.name}}
  </pf-v6-switch>
  {{else if eq .Attributes.type "string"}}
  <pf-v6-text-input id="input"
                   type="text"
                   value="{{.Attributes.value}}"
                   placeholder="{{.Attributes.name}}">
  </pf-v6-text-input>
  {{else if eq .Attributes.type "number"}}
  <pf-v6-text-input id="input"
                   type="number"
                   value="{{.Attributes.value}}"
                   placeholder="{{.Attributes.name}}">
  </pf-v6-text-input>
  {{else if eq .Attributes.type "enum"}}
  <pf-v6-select id="input"
               value="{{.Attributes.value}}"
               options="{{index .Attributes "enum-values"}}">
  </pf-v6-select>
  {{end}}
</div>
<div id="knob-description">
  <slot name="description"></slot>
</div>
