/*
 * pf-v6-text-input specific styles
 * Shared form-control styles loaded via <link> in template
 */

/* :host has input, so set these padding values */
:host {
  --pf-v6-c-form-control--PaddingBlockStart: var(--pf-v6-c-form-control__input--PaddingBlockStart);
  --pf-v6-c-form-control--PaddingBlockEnd: var(--pf-v6-c-form-control__input--PaddingBlockEnd);
  --pf-v6-c-form-control--PaddingInlineStart: var(--pf-v6-c-form-control__input--PaddingInlineStart);
  --pf-v6-c-form-control--PaddingInlineEnd: var(--pf-v6-c-form-control__input--PaddingInlineEnd);
  --pf-v6-c-form-control__utilities--PaddingInlineEnd: var(--pf-v6-c-form-control__utilities--input--PaddingInlineEnd);
}

#text-input {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding-block-start: var(--pf-v6-c-form-control--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-form-control--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-form-control--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-form-control--PaddingInlineEnd);
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-v6-c-form-control--Color);
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: var(--pf-v6-c-form-control--BorderRadius);
  outline-offset: var(--pf-v6-c-form-control--OutlineOffset);
  text-overflow: ellipsis;
}

#text-input::placeholder {
  color: var(--pf-v6-c-form-control--m-placeholder--Color);
}
