/* PatternFly v6 Nav Item Styles */

:host {
  display: grid;
}

:host([expanded]:last-child) ::slotted(pf-nav-group) {
  margin-block-end: calc(var(--pf-v6-c-nav__subnav--PaddingBlockEnd, var(--pf-t--global--spacer--sm)) * -1);
}
