/* PatternFly v6 Page Main Styles */

:host {
  z-index: var(--pf-v6-c-page__main-container--ZIndex);
  display: flex;
  flex-direction: column;
  grid-area: var(--pf-v6-c-page__main-container--GridArea);
  align-self: var(--pf-v6-c-page__main-container--AlignSelf);
  max-height: var(--pf-v6-c-page__main-container--MaxHeight);
  margin-inline-start: var(--pf-v6-c-page__main-container--MarginInlineStart);
  margin-inline-end: var(--pf-v6-c-page__main-container--MarginInlineEnd);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--pf-v6-c-page__main-container--BackgroundColor);
  border: solid var(--pf-v6-c-page__main-container--BorderColor);
  border-block-start-width: var(--pf-v6-c-page__main-container--BorderBlockStartWidth);
  border-block-end-width: var(--pf-v6-c-page__main-container--BorderBlockEndWidth);
  border-inline-start-width: var(--pf-v6-c-page__main-container--BorderInlineStartWidth);
  border-inline-end-width: var(--pf-v6-c-page__main-container--BorderInlineEndWidth);
  border-radius: var(--pf-v6-c-page__main-container--BorderRadius);
}

slot {
  display: flex;
  flex: 1;
  flex-direction: column;
  outline: 0;
}
