/**
 * @cssproperty --demo-spinner-size - Size of the spinner
 * @cssproperty --demo-spinner-color - Color of the spinner
 * @cssproperty --demo-spinner-track-color - Color of the spinner track
 * @cssproperty --demo-spinner-speed - Animation speed (duration)
 */

:host {
  display: inline-block;
  width:
    /**
     * Size of the spinner (width and height)
     * @summary Spinner size
     */
    var(--demo-spinner-size, 1em);
  height: var(--demo-spinner-size, 1em);
}

#spinner {
  width: 100%;
  height: 100%;
  border:
    2px
    solid
    /**
     * Color of the spinner track (background circle)
     * @summary Spinner track color
     */
    var(--demo-spinner-track-color, rgba(0, 0, 0, 0.1));
  border-top-color:
    /**
     * Color of the spinning indicator
     * @summary Spinner color
     */
    var(--demo-spinner-color, currentColor);
  border-radius: 50%;
  animation:
    spin
    /**
     * Animation speed (duration)
     * @summary Spinner animation speed
     */
    var(--demo-spinner-speed, 0.6s)
    linear
    infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
