<div id="health-panel">
  <div id="loading" hidden>
    <p>Analyzing documentation health…</p>
  </div>
  <div id="empty">
    <p>No health data available.</p>
  </div>
  <div id="content" hidden>
    <div id="overall">
      <pf-v6-label id="overall-label" size="lg"></pf-v6-label>
    </div>
    <dl id="categories"
        class="pf-v6-c-description-list pf-m-horizontal pf-m-compact">
    </dl>
    <div id="recommendations" hidden>
      <h4>Recommendations</h4>
      <ul id="recommendations-list"></ul>
    </div>
  </div>
</div>
