/* PatternFly v6 Page Sidebar Styles */

:host {
  z-index: var(--pf-v6-c-page__sidebar--ZIndex);
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  grid-row-start: 2;
  grid-column-start: 1;
  width: var(--pf-v6-c-page__sidebar--Width);
  padding-block-start: 0;
  padding-block-end: var(--pf-v6-c-page__sidebar--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-page__sidebar--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-page__sidebar--PaddingInlineEnd);
  margin-inline-end: var(--pf-v6-c-page__sidebar--MarginInlineEnd);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--pf-v6-c-page__sidebar--BackgroundColor);
  border-inline-end: var(--pf-v6-c-page__sidebar--BorderInlineEndWidth) solid var(--pf-v6-c-page__sidebar--BorderInlineEndColor);
  opacity: var(--pf-v6-c-page__sidebar--Opacity);
  transition: var(--pf-v6-c-page__sidebar--TransitionProperty) var(--pf-v6-c-page__sidebar--TransitionDuration) var(--pf-v6-c-page__sidebar--TransitionTimingFunction);
  transform: translateX(var(--pf-v6-c-page__sidebar--TranslateX)) translateZ(var(--pf-v6-c-page__sidebar--TranslateZ));
}

#body {
  padding-inline-start: var(--pf-v6-c-page__sidebar-body--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-page__sidebar-body--PaddingInlineEnd);
  flex-grow: 1;
}

/* Expanded state */
:host([expanded]) {
  --pf-v6-c-page__sidebar--Opacity: var(--pf-v6-c-page__sidebar--m-expanded--Opacity);
  --pf-v6-c-page__sidebar--TranslateX: var(--pf-v6-c-page__sidebar--m-expanded--TranslateX);
  box-shadow: var(--pf-v6-c-page__sidebar--BoxShadow);
  @media screen and (min-width: 75rem) {
    --pf-v6-c-page__sidebar--BoxShadow: 0;
  }
}

/* Collapsed state */
:host([collapsed]) {
  --pf-v6-c-page__sidebar--Opacity: 0;
  --pf-v6-c-page__sidebar--TranslateX: -100%;
  pointer-events: none;
}
