.page-home .main {
  max-width: 640px;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.5rem;
    color: #666;
  }

  img {
    max-width: 200px;
    margin: auto;
    margin-block-start: 3rem;
  }
}

html { color-scheme: light dark; }
html.dark { color-scheme: dark only; }
html.light { color-scheme: light only; }


.button {
  color: var(--dark)
}

.highlight pre {
  background-color:  transparent !important;
}
