:host {

  --pf-v6-c-badge--BorderColor: transparent;
  --pf-v6-c-badge--BorderWidth: var(--pf-t--global--border--width--regular);
  --pf-v6-c-badge--BorderRadius: var(--pf-t--global--border--radius--pill);
  --pf-v6-c-badge--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-badge--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --pf-v6-c-badge--PaddingInlineEnd: var(--pf-t--global--spacer--sm);
  --pf-v6-c-badge--PaddingInlineStart: var(--pf-t--global--spacer--sm);
  --pf-v6-c-badge--Color: var(--pf-t--global--text--color--nonstatus--on-gray--default);
  --pf-v6-c-badge--MinWidth: var(--pf-t--global--spacer--xl);
  --pf-v6-c-badge--BackgroundColor: var(--pf-t--global--color--nonstatus--gray--default);

  position: relative;
  display: inline-block;
  min-width: var(--pf-v6-c-badge--MinWidth);
  padding-inline-start: var(--pf-v6-c-badge--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-badge--PaddingInlineEnd);
  font-size: var(--pf-v6-c-badge--FontSize);
  font-weight: var(--pf-v6-c-badge--FontWeight);
  color: var(--pf-v6-c-badge--Color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--pf-v6-c-badge--BackgroundColor);
  border-radius: var(--pf-v6-c-badge--BorderRadius);
}

:host::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border: var(--pf-v6-c-badge--BorderWidth) solid var(--pf-v6-c-badge--BorderColor);
  border-radius: inherit;
}

:host([read]) {
  --pf-v6-c-badge--BorderColor: var(--pf-t--global--border--color--high-contrast);
  --pf-v6-c-badge--Color: var(--pf-t--global--text--color--nonstatus--on-gray--default);
  --pf-v6-c-badge--BackgroundColor: var(--pf-t--global--color--nonstatus--gray--default);
}

:host([unread]) {
  --pf-v6-c-badge--Color: var(--pf-t--global--text--color--on-brand--default);
  --pf-v6-c-badge--BackgroundColor: var(--pf-t--global--color--brand--default);
}

:host([disabled]) {
  --pf-v6-c-badge--Color: var(--pf-t--global--text--color--on-disabled);
  --pf-v6-c-badge--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
}

:host([disabled])::after {
  border-color: var(--pf-t--global--border--color--disabled);
}

#sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
