name: Test
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
        env:
          GOTOOLCHAIN: auto
          GOEXPERIMENT: jsonv2
      - name: Install Go dependencies and tools
        run: |
          go get .
          go install gotest.tools/gotestsum@latest
          go install github.com/mfridman/tparse@latest
      - name: Generate code
        run: make generate
      - name: Build
        run: go build -v ./...
      - name: Run unit tests
        run: make test-unit
      - name: Run E2E tests
        run: make test-e2e
      - name: Install frontend dependencies
        run: cd serve && npm ci
      - name: Run frontend tests
        run: make test-frontend
